#{include 'template.html' /}
#{set title:'Close Account Request | Claire & Colin Bell' /}
<div class="modal-backdrop"></div>
<div class="modal">
    <div class="modal-header">
        <a class="close" href="@{Application.index}">×</a>
        <img src="/public/images/hearts.png" alt="hearts" />
    </div>
    <div class="modal-body">
        #{if user }
            <p class="alert-message block-message solo">
                Thank you - the account request for <b>${user.email}</b> has been closed
            </p>
        #{/if}
        #{else}
            <p class="alert-message block-message error solo">
                Sorry, but this cancellation code is not valid
            </p>
        #{/else}
    </div>
    <div class="modal-footer">
        <a class="btn primary" href="@{Application.index}">close</a>
    </div>
</div>