#{include 'template.html' /}
#{set title:'Reset Password | Claire & Colin Bell' /}
<div class="modal-backdrop"></div>
<div class="modal">
    <div class="modal-header">
        <a class="close" href="@{Application.index}">×</a>
        <img src="/public/images/hearts.png" alt="hearts" />
    </div>
    #{form @Application.submitNewPassword( resetCode ) , id:'submitNewPasswordForm', enctype:'multipart/form-data' }
        <div class="modal-body">
            #{if user }
                <p class="instruction">enter your new password</p>
                #{ifErrors}
                    <p class="alert-message block-message error">
                        Oops...there are some errors
                    </p>
                #{/ifErrors}
                <p>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" />
                    #{ifErrors}<span class="error">#{error 'user.password' /}</span>#{/ifErrors}
                </p>
                <p>
                    <label for="pass_conf">confirm</label>
                    <input type="password" name="pass_conf" id="pass_conf" />
                    #{ifErrors}<span class="error">#{error 'pass_conf' /}</span>#{/ifErrors}
                </p>
                <p>
                    #{ifErrors}<span class="error captcha">#{error 'captcha' /}</span>#{/ifErrors}
                    #{ugot.recaptcha /}
                </p>
            #{/if}
            #{else}
                <div class="alert-message block-message error">
                    <p>Sorry, but this code is not valid - it may have expired</p>
                    <p>
                        <a href="@{Application.requestPassword()}">Request a new one?</a>
                    </p>
                </div>
            #{/else}
        </div>
        <div class="modal-footer">
            #{if user }
                <a class="btn danger" href="@{Application.index}">cancel</a>
                <input  class="btn success" type="submit" name="update" value="update" />
            #{/if}
            #{else}
                <a class="btn danger" href="@{Application.index}">close</a>
            #{/else}
        </div>
    #{/form}
</div>