#{include 'template.html' /}
#{set title:'Forgotten Password | Claire & Colin Bell' /}
<div class="modal-backdrop"></div>
<div class="modal">
    <div class="modal-header">
        <a class="close" href="@{Application.index}">×</a>
        <img src="/public/images/hearts.png" alt="hearts" />
    </div>
    #{form @Application.requestPassword() , id:'passwordReminderForm', enctype:'multipart/form-data' }
        <div class="modal-body">
            <p class="instruction">enter your registered email address</p>
            #{ifErrors}
                <p class="alert-message block-message error">#{error 'user' /}</p>
            #{/ifErrors}
            <p>
                <label for="email">email</label>
                <input type="text" name="email" id="email" value="${flash.email}" />
            </p>
        </div>
        <div class="modal-footer">
            <a class="btn danger" href="@{Application.index}">cancel</a>
            <input class="btn primary" type="submit" name="search" value="search" />
        </div>
    #{/form}
</div>