#{form @Users.updatePassword() , id:'updatePasswordForm', enctype:'multipart/form-data' }
    <label for="password">Current:</label>
    <input type="password" name="password" id="password" />
    #{ifErrors}<span class="error">#{error 'password' /}</span>#{/ifErrors}
<br/>
    <label for="password">New:</label>
    <input type="password" name="new_password" id="new_password" />
    #{ifErrors}<span class="error">#{error 'user.password' /}</span>#{/ifErrors}
<br/>
    <label for="pass_conf">Re-type new:</label>
    <input type="password" name="pass_conf" id="pass_conf" />
    #{ifErrors}<span class="error">#{error 'pass_conf' /}</span>#{/ifErrors}
<br/>
    <input type="submit" name="Save Changes" value="Save Changes" />
#{/form}