#{if user }
    #{extends 'main.html' /}
    #{set title: 'Resend Password' /}
    <div id="account" class="page">
        <div class="block fit right">
            #{include '/application/forms/resetPasswordForm.html' /}
        </div>
    </div>
#{/if}
#{else}
    #{include '/application/locksmith/forgottenPassword.html' /}
    #{modal title:"oops... this is embarrassing", link:play.mvc.Router.reverse("Locksmith.forgotPassword"), class:"dark"}
        <p class="text-error">Sorry, but this is not a valid reset code and may have expired</p>
        <p class="text-error">
            You can try reset your password again or #{a @feedback.contactUs() }contact us#{/a} if you are having problems!
        </p>
    #{/modal}
#{/else}