<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>cover image</th>
        <th>Created</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    #{list items:pictureAlbums, as:'pictureAlbum'}
    <tr>
        <td>${pictureAlbum.id}</td>
        <td><a href="@{Pictures.showPictures(pictureAlbum.id)}">${pictureAlbum.name}</a></td>
        <td>${pictureAlbum.coverImage}</td>
        <td>${pictureAlbum.created.asdate('dd MMMM yyyy') }</td>
        <td><a href="@{PictureAlbums.editPictureAlbum(pictureAlbum.id)}">edit</a></td>
        #{if pictureAlbum.active}
            <td><a href="@{PictureAlbums.deactivatePictureAlbum(pictureAlbum.id)}">hide</a></td>
        #{/if}
        #{else}
            <td><a href="@{PictureAlbums.activatePictureAlbum(pictureAlbum.id)}">show</a></td>
            <td><a href="@{PictureAlbums.deletePictureAlbum(pictureAlbum.id)}">delete</a></td>
        #{/else}
    </tr>
    #{/list}
</table>
#{else}
    <p>You have not created any picture albums</p>
#{/else}
<p><a href="@{PictureAlbums.addPictureAlbum()}">add new picture album</a></p>