<h3>Password Reset</h3>
#{form @Locksmith.submitNewPassword( resetCode ) , id:'submitNewPasswordForm', enctype:'multipart/form-data' }
    <p>
        Enter and confirm your new password below
    </p>
    <p>
        #{ifErrors}<span class="text-error">#{error 'user.password' /}</span>#{/ifErrors}
        <input type="password" name="password" placeholder="password" />
    </p>
    <p>
        #{ifErrors}<span class="text-error">#{error 'pass_conf' /}</span>#{/ifErrors}
        <input type="password" name="pass_conf" id="pass_conf" placeholder="cofirm password" />
    </p>
    <p>
        #{ifErrors}<span class="text-error">#{error 'captcha' /}</span>#{/ifErrors}
    </p>
    <div class="captcha loading sml">
        #{ugot.recaptcha /}
    </div>
    <p>
        <input class="btn btn-success" type="submit" name="update" value="update" />
    </p>
#{/form}