<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-responsive.min.css'}">
        <link rel="stylesheet" href="@{'/public/colorbox/colorbox.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/c.c.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAmuXpClrhVI5cAscyZ3xDzBRCzXZ-urJtLXRYcs7_ecIVKkOlyBQqpawM1DYQuIlFiqJyl76Fqt-YCg"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="@{'/public/colorbox/jquery.colorbox-min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/c.c.js'}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{include '/navigation.html' /}
        #{doLayout /}
    </body>
</html>
