#{extends 'main.html' /}
#{set title:'Guestbook' /}
<div id="guestbook" class="page">
    <h2 class="block">
        <span class="body">guestbook</span>
        <span class="eye"></span>
        <span class="eye"></span>
    </h2>
    #{list items:guestBookMessages, as:'guestBookMessage'}
        <div class="block">
            <p>${guestBookMessage.message}</p>
            <p>${guestBookMessage.user.name} <br/> ${guestBookMessage.created.asdate('dd MMMM yyyy') }</p>
        </div>
    #{/list}
    #{else}
        <div class="block speech top">
            <p>Oops...this is a little embarrassing!</p>
            <p>Something has gone horribly horribly wrong (or no one likes us)</p>
        </div>
    #{/else}
</div>