#{extends 'main.html' /}
#{set title:'Our Story' /}
<div id="story" class="page">
    <h2 class="block">
        <span class="body">our story</span>
        <span class="eye"></span>
        <span class="eye"></span>
    </h2>
    <div class="block">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus sem, accumsan eget suscipit id, mollis quis tellus. Pellentesque cursus imperdiet felis, quis aliquet neque tempus at. Nulla dui metus, vulputate nec aliquam lacinia, euismod sit amet enim. Vivamus eget augue id nibh feugiat cursus nec nec nunc. Donec pretium sodales sapien, at facilisis nulla malesuada vitae. Fusce iaculis aliquam pulvinar. Donec ultrices tellus nec est iaculis nec eleifend neque pellentesque. Maecenas a elit augue. Duis quis eros at sapien porta placerat.
        </p>
        <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vitae mi eros, eu dapibus turpis. Cras vel nisi magna, rutrum ultricies arcu. Duis hendrerit semper enim, a tincidunt turpis dictum eu. Aliquam vulputate auctor felis, vel volutpat neque facilisis eu. Ut non luctus dolor. Phasellus facilisis porttitor augue, laoreet porta felis pharetra nec. In nibh nisi, venenatis sed imperdiet quis, adipiscing eu velit. Pellentesque purus odio, viverra non sollicitudin non, sodales sed risus. Vivamus diam felis, venenatis ut blandit eget, malesuada nec dui. Sed eget consequat nibh. Suspendisse at cursus dui. Vestibulum at adipiscing est. Maecenas scelerisque interdum lorem ac scelerisque. Integer nec justo erat.
        </p>
        <p>
            Etiam egestas velit eu odio molestie quis mattis ante fringilla. Mauris dolor felis, scelerisque vitae convallis in, mattis non massa. Sed sapien nibh, vulputate et luctus ac, mollis non ipsum. Vivamus ligula sem, imperdiet at fermentum quis, scelerisque eget lorem. Proin eu enim ac risus fringilla euismod. Nullam semper magna vel nisi euismod et hendrerit tortor placerat. Pellentesque varius auctor diam sed vulputate.
        </p>
        <p>
            Proin sed est eget orci sagittis placerat ultrices sed nulla. Donec vitae lectus a sem consectetur tristique. Ut nec mauris purus, ac interdum sapien. Sed porta erat a metus mollis vitae aliquam risus viverra. In gravida, purus laoreet viverra convallis, ante purus condimentum libero, vel placerat lorem justo sed purus. Etiam lacinia convallis vehicula. Vestibulum ut lectus non nisl molestie adipiscing vel at augue. Nulla dictum, purus vitae tristique consectetur, nisi felis sagittis quam, ac convallis nisl turpis nec lacus. Nunc pretium, eros vitae hendrerit sollicitudin, nisi massa elementum dolor, non fermentum turpis felis ut odio.
        </p>
    </div>
    <div class="left half">
        <h2 class="block">
            <span class="body">claire</span>
            <span class="eye"></span>
            <span class="eye"></span>
        </h2>
        <div class="block">
            <p>
                You’re a great big sis and friend, an animal-lover and a devout Queen fan! We all see how dedicated you
                are to your work, family (especially Jack, Coco, Biscuit and the Fishies!) and to your many friends.

                You’re generous, fun and just a little bit “batty” (HeHeHe) but we wouldn’t change you (much) <span class="html-icon">&#9786;</span>
                We’re so thrilled for you and Col – you’re such a great couple – he can cook and you can clean!
            </p>
            <p>
                We can just see you both in 50 years, surrounded by a menagerie of animals in the house that Col built…
                We all hope that you and Col have a fantastic life together and that there will be plenty more surprises,
                laughs and adventures along the way.
            </p>
            <p>
                Love to you both,
                <br/>
                Kate, Kim and Liz
                <span class="line">&amp;</span>
                <span class="line">The "One-Two, One-Two, Testing", Pub Quiz Team</span>
                <span class="line">(Lindsay, Guy, Lee, John and Ad)</span>
            </p>
        </div>
        <p>
            <a class="colorbox" href="/public/photos/claire/001.jpg">
                <img class="thumb block" src="/public/photos/claire/001.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/002.jpg">
                <img class="thumb block" src="/public/photos/claire/002.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/003.jpg">
                <img class="thumb block" src="/public/photos/claire/003.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/004.jpg">
                <img class="thumb block" src="/public/photos/claire/004.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/005.jpg">
                <img class="thumb block" src="/public/photos/claire/005.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/006.jpg">
                <img class="thumb block" src="/public/photos/claire/006.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/007.jpg">
                <img class="thumb block" src="/public/photos/claire/007.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/008.jpg">
                <img class="thumb block" src="/public/photos/claire/008.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/009.jpg">
                <img class="thumb block" src="/public/photos/claire/009.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/010.jpg">
                <img class="thumb block" src="/public/photos/claire/010.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/012.jpg">
                <img class="thumb block" src="/public/photos/claire/011.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/012.jpg">
                <img class="thumb block" src="/public/photos/claire/012.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/013.jpg">
                <img class="thumb block" src="/public/photos/claire/013.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/014.jpg">
                <img class="thumb block" src="/public/photos/claire/014.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/015.jpg">
                <img class="thumb block" src="/public/photos/claire/015.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/016.jpg">
                <img class="thumb block" src="/public/photos/claire/016.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/017.jpg">
                <img class="thumb block" src="/public/photos/claire/017.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/018.jpg">
                <img class="thumb block" src="/public/photos/claire/018.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/019.jpg">
                <img class="thumb block" src="/public/photos/claire/019.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/020.jpg">
                <img class="thumb block" src="/public/photos/claire/020.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/021.jpg">
                <img class="thumb block" src="/public/photos/claire/021.jpg" />
            </a>
        </p>
        <div class="block">
            <p>
                P.S. After a few hours in the pub we decided to write you a little poem and believe it or not this was our best attempt…
                (it was originally to be read to the tune of Mary Mary Quite Contrary (as if you couldn’t have guessed!) but that may have gone awry at some point…)
            </p>
            <blockquote>
                <h3>Poem 2</h3>
                <p>
                    <span class="line">Oh Clairey Clairey, quite contrary</span>
                    <span class="line">How does your garden grow,</span>
                    <span class="line">With Colin Bell and pets galore</span>
                    <span class="line">And big holes in the lawn (from the weed napalm incident…)</span>
                </p>
                <p>
                    <span class="line">Known to many as “Snowy”, “the Bat Lady” or “Clairey-Peary”</span>
                    <span class="line">But to us a kind, caring, generous, music loving,</span>
                    <span class="line">bookworm, cinematic enthusiast</span>
                    <span class="line">and all around great girl!</span>
                </p>
                <p>
                    <span class="line">So, here’s to your menagerie</span>
                    <span class="line">Wishing you all the happiness</span>
                    <span class="line">the would could bring</span>
                    <span class="line">on this special day.</span>
                </p>
            </blockquote>
        </div>
    </div>
    <div class="right half">
        <h2 class="block">
            <span class="body">colin</span>
            <span class="eye"></span>
            <span class="eye"></span>
        </h2>
        <div class="block">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus sem, accumsan eget suscipit id, mollis quis tellus. Pellentesque cursus imperdiet felis, quis aliquet neque tempus at. Nulla dui metus, vulputate nec aliquam lacinia, euismod sit amet enim. Vivamus eget augue id nibh feugiat cursus nec nec nunc. Donec pretium sodales sapien, at facilisis nulla malesuada vitae. Fusce iaculis aliquam pulvinar. Donec ultrices tellus nec est iaculis nec eleifend neque pellentesque. Maecenas a elit augue. Duis quis eros at sapien porta placerat.
            </p>
            <p>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vitae mi eros, eu dapibus turpis. Cras vel nisi magna, rutrum ultricies arcu. Duis hendrerit semper enim, a tincidunt turpis dictum eu. Aliquam vulputate auctor felis, vel volutpat neque facilisis eu. Ut non luctus dolor. Phasellus facilisis porttitor augue, laoreet porta felis pharetra nec. In nibh nisi, venenatis sed imperdiet quis, adipiscing eu velit. Pellentesque purus odio, viverra non sollicitudin non, sodales sed risus. Vivamus diam felis, venenatis ut blandit eget, malesuada nec dui. Sed eget consequat nibh. Suspendisse at cursus dui. Vestibulum at adipiscing est. Maecenas scelerisque interdum lorem ac scelerisque. Integer nec justo erat.
            </p>
            <p>
                Etiam egestas velit eu odio molestie quis mattis ante fringilla. Mauris dolor felis, scelerisque vitae convallis in, mattis non massa. Sed sapien nibh, vulputate et luctus ac, mollis non ipsum. Vivamus ligula sem, imperdiet at fermentum quis, scelerisque eget lorem. Proin eu enim ac risus fringilla euismod. Nullam semper magna vel nisi euismod et hendrerit tortor placerat. Pellentesque varius auctor diam sed vulputate.
            </p>
            <p>
                Proin sed est eget orci sagittis placerat ultrices sed nulla. Donec vitae lectus a sem consectetur tristique. Ut nec mauris purus, ac interdum sapien. Sed porta erat a metus mollis vitae aliquam risus viverra. In gravida, purus laoreet viverra convallis, ante purus condimentum libero, vel placerat lorem justo sed purus. Etiam lacinia convallis vehicula. Vestibulum ut lectus non nisl molestie adipiscing vel at augue. Nulla dictum, purus vitae tristique consectetur, nisi felis sagittis quam, ac convallis nisl turpis nec lacus. Nunc pretium, eros vitae hendrerit sollicitudin, nisi massa elementum dolor, non fermentum turpis felis ut odio.
            </p>
        </div>
        <p>
            <a class="colorbox" href="/public/photos/claire/001.jpg">
                <img class="thumb block" src="/public/photos/claire/001.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/002.jpg">
                <img class="thumb block" src="/public/photos/claire/002.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/003.jpg">
                <img class="thumb block" src="/public/photos/claire/003.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/004.jpg">
                <img class="thumb block" src="/public/photos/claire/004.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/005.jpg">
                <img class="thumb block" src="/public/photos/claire/005.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/006.jpg">
                <img class="thumb block" src="/public/photos/claire/006.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/007.jpg">
                <img class="thumb block" src="/public/photos/claire/007.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/008.jpg">
                <img class="thumb block" src="/public/photos/claire/008.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/009.jpg">
                <img class="thumb block" src="/public/photos/claire/009.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/010.jpg">
                <img class="thumb block" src="/public/photos/claire/010.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/012.jpg">
                <img class="thumb block" src="/public/photos/claire/011.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/012.jpg">
                <img class="thumb block" src="/public/photos/claire/012.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/013.jpg">
                <img class="thumb block" src="/public/photos/claire/013.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/014.jpg">
                <img class="thumb block" src="/public/photos/claire/014.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/015.jpg">
                <img class="thumb block" src="/public/photos/claire/015.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/016.jpg">
                <img class="thumb block" src="/public/photos/claire/016.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/017.jpg">
                <img class="thumb block" src="/public/photos/claire/017.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/018.jpg">
                <img class="thumb block" src="/public/photos/claire/018.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/019.jpg">
                <img class="thumb block" src="/public/photos/claire/019.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/020.jpg">
                <img class="thumb block" src="/public/photos/claire/020.jpg" />
            </a>
            <a class="colorbox" href="/public/photos/claire/021.jpg">
                <img class="thumb block" src="/public/photos/claire/021.jpg" />
            </a>
        </p>
    </div>
</div>